
$button-primary--background: #1e212b;
$button-secondary--background: #fff;
$button-tertiary--background: rgba(#1E212B,0.7);


$text-color--dark: #1E212B;
$text-color--light: #fff;


$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;
$padding-xl: 30px;